doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    title #{docTitle}
  body
    div.page-content
      header.main-header 
        nav.main-header__menu-nav
          ul.main-header__menu-list 
            li.main-header__menu-item
              a.main-header__menu-link(href="/quests", class=(path === "/" ? "isActive" : "")) Select quest
            li.main-header__menu-item
              a.main-header__menu-link(href="/shcedule", class=(path === "/shcedule" ? "isActive" : "")) Shcedule
            li.main-header__menu-item.main-header__menu-item--info
              a.main-header__menu-link(class=(path === "/about" ? "isActive" : path === "/rules" ? "isActive" : path === "/contacts" ? "isActive" : "")) Info
              ul.main-header-sub-menu-list 
                li.main-header-sub-menu-item 
                  a.main-header-sub-menu-link(href="/about", class=(path === "/about" ? "isActive" : "")) About us
                li.main-header-sub-menu-item 
                  a.main-header-sub-menu-link(href="/rules", class=(path === "/rules" ? "isActive" : "")) Rules
                li.main-header-sub-menu-item 
                  a.main-header-sub-menu-link(href="/contacts", class=(path === "/contacts" ? "isActive" : "")) Contacts
            if role === "admin"
              li.main-header__menu-item
                a.main-header__menu-link(href="/admin/add-quest", class=(path === "/admin/add-quest" ? "isActive" : "")) Add quest
        nav.main-header__user-nav 
          ul.main-header__menu-list 
            if isAuthorized
              li.main-header__menu-item
                a.main-header__menu-link(href="/cart", class=(path === "/cart" ? "isActive" : "")) Cart
              li.main-header__menu-item
                a.main-header__menu-link(href="/orders", class=(path === "/orders" ? "isActive" : "")) Orders
              li.main-header__menu-item
                a.main-header__menu-link(href="/profile", class=(path === "/profile" ? "isActive" : "")) Profile
              form(action="/logout", method="post") 
                li.main-header__menu-item
                  button.main-header__menu-link.logout(type="submit") Logout
            else 
              li.main-header__menu-item
                a.main-header__menu-link(href="/login") Login
      block content

      footer.main-footer
        p This is footer 

