html,
body,
.page-content {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.3;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.page-content__title {
  font-size: 36px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(221, 255, 142);
}

.main-header__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-header__menu-item {
  cursor: pointer;
  position: relative;
}

.main-header__menu-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 16px 24px;
}

.main-header__menu-link.isActive,
.main-header__menu-link:hover {
  color: rgb(221, 255, 142);
}

.main-header-sub-menu-list {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  min-width: 400px;
}

.main-header__menu-item--info:hover .main-header-sub-menu-list {
  display: flex;
}

.main-header-sub-menu-link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  padding: 16px 24px 8px 24px;
  display: inline-block;
}

.main-header-sub-menu-link:hover,
.main-header-sub-menu-link.isActive {
  color: rgb(221, 255, 142);
}

.page-main {
  padding: 40px 24px 20px 24px;
  flex-grow: 1;
}

.page-main--admin {
  margin: 0 auto;
  min-width: 600px;
}

.main-footer {
  border-top: 2px solid rgb(221, 255, 142);
  padding: 20px 24px 20px 24px;
}

.quest-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.quest-list__item {
  position: relative;
  width: 400px;
  height: 220px;
  overflow: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 24px 24px 0;
  cursor: pointer;
}

.quest-list__item:hover {
  filter: brightness(1.2);
}

.quest-list__title {
  font-size: 24px;
  margin: 0;
}

.quest-list__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quest-list__img {
  display: block;
  position: absolute;
  max-width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

.quest-list__complexity-star {
  margin-right: 2px;
}

.quest-list__favourites-btn {
  font-weight: bold;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 2px 8px;
}

.quest-list__favourites-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.add-quest-form {
  margin-bottom: 40px;
}

.add-quest-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}

.add-quest-form__input-wrapper--gamers {
  flex-direction: row;
}

.add-quest-form__gamers-count-wrapper:first-child {
  margin-right: 8px;
}

.add-quest-form__gamers-count-wrapper:last-child {
  margin-left: 8px;
}

.add-quest-form__gamers-count-wrapper .add-quest-form__label {
  margin-right: 8px;
}

.add-quest-form__label {
  margin-bottom: 8px;
}

.add-quest-form__input {
  min-height: 24px;
  border: 0;
}

.add-quest-form__submit-btn {
  background-color: transparent;
  border: 2px solid rgb(221, 255, 142);
  padding: 8px 16px;
  color: #ffffff;
  font-size: inherit;
  cursor: pointer;
}

.add-quest-form__submit-btn:hover {
  background-color: rgb(221, 255, 142);
  color: #000000;
}
