extends ../layouts/main-layout.pug

block content
  main.page-main
    h1.page-content__title Signup
    form.login-form(action="/signup", method="post")
      div.login-form__input-wrapper
        label.login-form__label username
        input.login-form__input(type="text" name="login")
      div.login-form__input-wrapper
        label.login-form__label password
        input.login-form__input(type="password" name="password")
      div.login-form__input-wrapper
        label.login-form__label Confirm password
        input.login-form__input(type="password" name="confirm")
        input(type="hidden", name="_csrf" value=csrfToken)
      button.login-form__submit-btn(type="submit") Submit