extends ../layouts/main-layout.pug

block content
  main.page-main
    h1.page-content__title About us 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ullam at eius animi, inventore quidem illum nam voluptatum! Quis voluptate quibusdam aut neque quia! Voluptatibus adipisci delectus eos et esse?
