extends ../layouts/main-layout.pug

block content
  main.page-main
    h1.page-content__title Contact us 
    p
      span phone 
      a(href="tel:+79999999999")  +7 (999) 999-99-99
    p 
      span email 
      a(href="mailto:test@test.test") test@test.test
    p 
      span address 
      span 221B Baker Street
    img(src="https://i3.wikimapia.org/?x=32739&y=21788&zoom=16&type=map&lng=0", alt="")