extends ../layouts/main-layout.pug

block content 
  main.page-main
    h1.page-content__title Behaviour rules 
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus minima animi perspiciatis cupiditate id quo exercitationem optio, neque quis nulla labore ipsum impedit autem libero! Modi repellendus illo magnam iusto?
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est libero nulla dolor, accusantium quia qui molestias voluptatem autem ea? Quod illum eius vel molestias dolorum reiciendis consectetur doloribus recusandae officiis.
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe hic tempora recusandae eaque itaque molestias impedit expedita enim rem autem velit, nemo culpa corporis reprehenderit nostrum nam ullam dicta minus!
